img {
  opacity: 75%;
}

.row {
  --bs-gutter-x: 0;
}

.container {
  padding: 2em;
}

.col {
  padding: 1em;
  flex: auto;
}

.logo-cover {
  margin: 2em 1em 2em 1em;
}

.social {
  width: 100%;
}

.scribbles {
  mix-blend-mode: screen;
  opacity: 40%;
  width: 100%;
}

.nav {
  background-color: rgba(0, 0, 0, 0.9);
}

@media (min-width: 992px) {
  .col {
    flex: 1 0 0%;
  }

  .social {
    width: auto;
  }
}

body {
  background: rgba(7, 4, 4, 1) repeat url(images/black-bg.jpg) 50%;
}

h1 {
  font-family: "Averia Libre";
  color: rgba(255, 255, 255, 0.7);
  width: 80%;
}

h3 {
  font-family: "Rock Salt";
  font-size: 1em;
  line-height: 1.4em;
  letter-spacing: 0.1em;
  color: rgba(116, 116, 116, 0.8);
  width: 80%;
  margin-left: 0.6em;
}

p {
  font-family: "Roboto Slab";
  font-size: 1.4em;
  color: rgba(240, 240, 240, 0.8);
  width: 90%;
}

.brush-stroke {
  background: center / contain no-repeat url(images/brush.png);
}

.pictures {
  box-shadow: 1px 2px 2px hsl(0deg 0% 0% / 1);
  border: 12px solid white;
  margin-bottom: 1.7em;
}

.testimonials {
  margin-top: 5em;
  width: 95%;
}

/* 

UNDERLINE EFFECT FROM: 
https://tympanus.net/Development/LineHoverStyles/

*/

.link {
  cursor: pointer;
  position: relative;
  white-space: nowrap;
}

.link::before,
.link::after {
  position: absolute;
  width: 100%;
  height: 1px;
  top: 100%;
  left: 0;
  pointer-events: none;
}

.link__graphic {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  fill: none;
  stroke: rgb(180, 180, 180);
  stroke-width: 2px;
}

.link__graphic--stroke path {
  stroke-dasharray: 1;
  stroke-dashoffset: 1;
}

.link:hover .link__graphic--stroke path {
  stroke-dashoffset: 0;
}

/* Trick from https://css-tricks.com/a-trick-that-makes-drawing-svg-lines-way-easier/ */

.link__graphic--scribble {
  top: 250%;
}

.link__graphic--scribble path {
  transition: stroke-dashoffset 0.6s cubic-bezier(0.7, 0, 0.3, 1);
}

.link:hover .link__graphic--scribble path {
  transition-timing-function: cubic-bezier(0.8, 1, 0.7, 1);
  transition-duration: 0.3s;
}
